*.aux
*.log
*.olean
*.tex
*.toc
/.vscode
/Descripcion.*
/Licencia
/Makefile
/README.html
/_minted-DAO_con_Lean/
/_target
/estilo.css
/leanpkg.path
/src/5_Limites/05_sequence_limits.lean
/src/5_Limites/tuto_lib.lean
excluido/*
videos/*
/src/4_Contradiccion_y_negacion/07_first_negations.lean
/src/4_Contradiccion_y_negacion/tuto_lib.lean
