*.olean
/_target
/leanpkg.path
/estilo.css
/README.html
/Licencia
/Makefile
/_minted-DAO_con_Lean/
/.vscode
*.aux
*.log
*.toc
*.tex
/Descripcion.*
excluido/*
/src/5_Limites/05_sequence_limits.lean
/src/5_Limites/tuto_lib.lean
